[Unit]
Description=ArrayNetworks Lbaas Agent
After=neutron-server.service

[Service]
Environment=LIBGUESTFS_ATTACH_METHOD=appliance
Type=notify
NotifyAccess=all
TimeoutStartSec=0
ExecStart=/usr/bin/array-lbaasv2-agent --log-file /var/log/neutron/array-lbaasv2-agent.log --config-file /etc/neutron/neutron.conf --config-file /etc/neutron/neutron_lbaas.conf --config-file /etc/neutron/conf.d/neutron-server/arraynetworks.conf

[Install]
WantedBy=multi-user.target

